@tailwind base;
@tailwind components;
@tailwind utilities;

/* template variables */
:root {
  --background: #ffffff;
  --textColor: #000000;
  --fontParagraph: 16px;
  --fontHero: 50px;
  --footerBg: blue;
}
body {
  background-color: var(--background);
}
h1 {
  font-size: var(--fontHero);
  font-weight: 700;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
